<% if @user.errors.any? %>

  <div id="error_explanation">
    <div class="aler alert-danger">
      <p>There was <%= pluralize(@user.errors.count, "error") %> on your submition</p>
    </div>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>

<% end %>
